/* Base */
* {
  box-sizing: border-box;
}

/* Page */
@import "./colors.css";

.page {
  min-height: 90vh;
  height: 100%;
  /* padding: var(--space) var(--space) 0; */
  /* display: block; */
  overflow-y: auto;
  position: relative;
  top: 0;
  /* flex: 1 0 auto; */
  /* z-index: 1; */
  padding-bottom: 50px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  transition: transform 1s ease-in-out;
}

.page-enter {
  transform: translate(-100%, 0);
}

.page-enter-active {
  transform: translate(0, 0);
}

.page-exit {
  transform: translate(-100%, 0);
}

.page--prev.page-enter {
  transform: translate(100%, 0);
}

.page--prev.page-enter-active {
  transform: translate(0, 0);
}

.page--prev.page-exit {
  transform: translate(100%, 0);
}

.page h1 {
  margin-top: 0;
}
