# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
db.sqlite3
/media

/staticfiles/
/static/
frontend/node_modules/
frontend/.vscode
/node_modules/
node_modules/
/.idea
/.vscode

/mazurbeam/settings/local.py