beautifulsoup4==4.6.0
certifi==2018.8.24
chardet==3.0.4
django-webpack-loader==0.6.0
draftjs-exporter==2.1.2
idna==2.7
Markdown==2.6.11
Pillow==9.3.0
PyJWT==1.6.4
python-decouple==3.1
pytz==2018.5
six==1.11.0
Unidecode==1.0.22
urllib3==1.23
webencodings==0.5.1
whitenoise==4.1
Willow==1.1
