beautifulsoup4==4.6.0
certifi==2018.8.24
chardet==3.0.4
Django==2.0.8
django-filter==2.0.0
django-modelcluster==4.2
django-taggit==0.23.0
django-treebeard==4.3
django-webpack-loader==0.6.0
djangorestframework==3.8.2
draftjs-exporter==2.1.2
html5lib==1.0.1
idna==2.7
Markdown==2.6.11
Pillow==5.2.0
python-decouple==3.1
pytz==2018.5
requests==2.20.0
six==1.11.0
Unidecode==1.0.22
urllib3==1.23
wagtail==2.3
webencodings==0.5.1
whitenoise==4.1
Willow==1.1
