beautifulsoup4
certifi
chardet
Django>=4.1,<4.2
django-cors-headers
wagtail>=4.1,<4.2
django-webpack-loader
django-compressor
draftjs-exporter
idna
Markdown
Pillow
PyJWT
python-decouple
pytz
six
Unidecode
urllib3
webencodings
whitenoise
Willow
