{% load render_bundle  from webpack_loader %}
{% load static  %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    {#    <link rel="stylesheet" type="text/css" href="{% static 'css/uikit.css' %}">#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/particles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'pixelturtle.ico' %}"/>

    <title>Wagtail React Project</title>
</head>
<body>


{#<div id="particles-js"></div>#}

<div id="root">
</div>
{% render_bundle 'main' %}
{#<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/js/uikit.min.js"></script>#}
{#<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/js/uikit-icons.min.js"#}
<script type="text/javascript" src="{% static 'js/uikit.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/uikit-icons.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js"></script>

<script type="text/javascript" src="{% static 'js/particless-config.js' %}"></script>

</body>
</html>