{% load render_bundle from webpack_loader  %}
{% load webpack_static from webpack_loader %}

{% load static wagtailuserbar %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    {#    <link rel="stylesheet" type="text/css" href="{% static 'css/uikit.css' %}">#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mazurbeam.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'pixelturtle.ico' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Quattrocento" rel="stylesheet">
    <title>
        Walter Mazur
    </title>

     {% comment %} {% render_bundle 'main' %} {% endcomment %}
    {% comment %} {% render_bundle 'main' 'js' attrs='async' %} {% endcomment %}
</head>
<body >


{#<div id="particles-js"></div>#}

<main id="root">{{ markup|safe }}</main>
{% render_bundle 'main' %}

<!-- Root -->
    

    <!-- Redux State -->
    <script>
      window.__REDUX_STATE__ = {{ finalState|safe }}
    </script>

{#<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/js/uikit.min.js"></script>#}
{#<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/js/uikit-icons.min.js"#}
<script type="text/javascript" src="{% static 'js/uikit.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/uikit-icons.min.js' %}"></script>



</body>
</html>