:root {
  -—space: 1.5em 0;
  -—space: 2em 0;
}

html,
body {
  height: 100%;
}

/* .Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.Site-header,
.Site-footer {
  flex: none; 
}

.Site-content {
  flex: 1 0 auto;
  padding: var(— space) var(— space) 0;
  padding-bottom: 50px;
  overflow-x: scroll;
  width: 100%;
}
.Site-content:after {
  content: ‘\00a0’;
  display: block;
  margin-top: var(— space);
  height: 0;
  visibility: hidden;
} */
