body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.animated-page-wrapper {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  height: 100%;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
