body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* margin-top: 16px; */
  /* position: relative; */
}

.animated-page-wrapper {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  height: 100%;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.main-menu {
  position: fixed !important;
}

canvas {
  display: block;
  vertical-align: bottom;
  z-index: -1;
  position: fixed;
}

canvas {
  display: block;
  vertical-align: bottom;
  z-index: -1;
  position: fixed;
}

/* ---- particles.js container ---- */
#particles-js {
  z-index: -1;

  /*position: absolute;*/
  position: fixed !important;

  width: 100%;
  height: 100%;
  background-color: #232741;
  /*background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1237px-NASA_logo.svg.png");*/
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 50%;
}
